<!DOCTYPE html>
<html lang="pt-bt">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Orca{% endblock %}</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href=" {% static "css/orca/base.css" %}" />
    <link rel="stylesheet" href=" {% static "css/components/components.css" %}" />
    <link rel="stylesheet" href=" {% static "css/components/modal.css" %}" />
    <script src="https://kit.fontawesome.com/6242a3df73.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>

  <script src="{% static "js/components/modal.js" %}"></script>
</html>
